* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-menu-lists,
.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  column-gap: 40px;
  width: 60vw;
}
.top-content {
  background-image: url(../assets/top-bg-image.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 248px 0px 342px 0px;
}
.top-headline {
  margin-top: 10px;
  margin-bottom: 45px;
  font-family: Prompt;
  width: 70%;
  font-style: bold;
  font-size: 40px;
  line-height: 86px;
  text-align: center;
  vertical-align: top;
  color: #ffff;
}
.down-headline-btn {
  background: #cf881d;
  padding: 16px 24px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  line-height: 27px;
  color: #ffff;
  cursor: pointer;
}
.above-top-headline {
  background: linear-gradient(90deg, #ffffff 22.74%, #cf881d 91.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 18px;
}
.window-clean-with-stars {
  display: flex;
}

.stars-div {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}
.right-star {
  transform: translate(-31px, -22px);
}
.about-service-section {
  display: flex;
  column-gap: 25px;
  align-items: center;
  justify-content: center;
}
.about-service-lef {
  position: relative;
}
.window-clean {
  width: 400px;
}
.clear-sing {
  width: 300px;
}
.about-service-section {
  margin-top: 100px;
}
.absolute-image {
  position: absolute;
  top: 169px;
  left: 167px;
}
.about-service-headline {
  margin: 10px 0px 45px 0px;
}
.about-service-section {
  padding: 0px 13vw;
}
.service-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-section {
  margin-top: 70px;
}
.service-icons {
  display: flex;
  column-gap: 9vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.carpet,
.bedroom,
.sofa,
.toilet {
  width: 120px;
  height: 200px;
}
.icon {
  width: 100%;
  filter: brightness(0) saturate(100%) invert(60%) sepia(80%) saturate(886%)
    hue-rotate(356deg) brightness(99%) contrast(70%);
}
.service-btn {
  background: #cf881d;
  border-radius: 50px;
  border: none;
  padding: 16px 24px;
  color: #ffff;
  margin-top: 80px;
}
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.video-iframe {
  border-radius: 50px;
  width: 90vw;
  height: 600px;
}
.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.pricing-div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.video-heading {
  margin-bottom: 50px;
}
.pricing-section-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.price-row {
  display: flex;
  column-gap: 18vw;
  border: 1px solid #eeeeee;
  align-items: center;
  height: 120px;
  padding: 10px 2vw;
}
.type-name {
  width: 100px;
}
.purchase-btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background: linear-gradient(50deg, #ffffff 0.74%, #cf881d 91.81%);
}
.middle-row {
  background: linear-gradient(90deg, #737373 22.74%, #cf881d 91.81%);
}
.about-service-right {
  position: relative;
}
.faq-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-comerc {
  background: #cf881d;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-star {
  filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(3%)
    hue-rotate(172deg) brightness(113%) contrast(100%);
}
.bottom-comerc-left {
  display: flex;
  align-items: center;
}
.bottom-btn-right {
  background: #ffffff;
  color: #cf881d;
  border-radius: 50px;
  border: none;
  padding: 8px 23px;
}
.bottom-btn-left {
  color: #ffffff;
  background: #cf881d;
  border: 1px solid #ffff;
  border-radius: 50px;
  padding: 8px 23px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}
